.aboutJames {}

.ResumeContainer {
    display: flex;
    outline: solid red 1px;
    align-content: center;
}

.JamesMooreResume {
    width: 612px;
    height: 792px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* outline: solid red 1px; */
}
#ResumeButton{
    display: flex;
    align-content: center;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}