.contact-description {
    margin-top: 100px;
    text-align: left;
    display: flex;
    justify-content: center;
    /* outline: solid red 1px; */
}

.master-input-container {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 50%;
    justify-content: flex-start;
    /* outline: solid red 1px; */

    font-family: 'DM Sans';
    font-style: normal;
    color: #F4F4F4;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
}

.contact-info-inputs{
    width: 100%;
    font-family: 'DM Sans';
    /* outline: solid red 1px; */
}

.comment-inputs{
    width: 100%;
    /* width: max-content; */
    font-family: 'DM Sans';
    /* outline: solid red 1px;    */
}


.contact-input-CTA {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 50%;
    justify-content: center;
    /* outline: solid red 1px; */
}

.contact-note {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 50%;
    justify-content: center;
    /* outline: solid red 1px; */
}

/* fieldset{
    font-family: 'DM Sans';
    font-style: normal;
    color: #F4F4F4;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
} */