.case-study-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 250px;
    margin-top: 150px;
      /* outline: solid red 1px; */
}

.case-study-item {}